.smart-home-builder1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 80rem;
  max-width: 80rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.smart-home-constructor-main-section {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 20rem;
  padding-left: 20rem;
}
.smart-home-title-text-style {
  flex: 0 0 auto;
  font: var(--font-weight-500) var(--font-size-20) "Montserrat";
  color: var(--color-darkcyan-64b26d24);
  white-space: pre-wrap;
}
.smart-home-project-button {
  flex: 0 0 auto;
  border: none;
  border-radius: var(--border-radius-50);
  font: var(--font-weight-500) var(--font-size-20) "Montserrat";
  background: var(--color-darkcyan-64b26d24);
  box-sizing: border-box;
  display: block;
  width: 19rem;
  min-width: 19rem;
  height: 4rem;
  margin-top: 3.8rem;
  color: var(--color-white);
  cursor: pointer;
}
