/* These are Kombai generated variables */
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-black-2a36df50: rgba(7, 7, 7, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-darkcyan-64b26d24: rgba(0, 137, 150, 1);
  --color-991c5d52: transparent;
  --color-snow-993f0590: rgba(252, 252, 252, 1);
  --color-dodgerblue-7b3a3dc0: rgba(1, 148, 214, 1);
  --color-deepskyblue-5ac2a912: rgba(1, 160, 232, 1);
  --color-royalblue-d2744e98: rgba(34, 100, 209, 1);
  --color-tomato-97f003b1: rgba(253, 79, 70, 1);
  --color-whitesmoke-b54ff344: rgba(246, 246, 246, 1);
  --font-size-20: 20px;
  --font-size-36: 36px;
  --font-size-24: 24px;
  --font-size-22: 22px;
  --font-size-48: 48px;
  --font-size-23: 23px;
  --font-size-40: 40px;
  --font-size-18: 18px;
  --font-weight-500: 500;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --border-radius-50: 50px;
  --border-radius-20: 20px;
}
